# EmailJS configuration variables
# Go to https://www.emailjs.com/ to sign up and get these details
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
